.container{
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    cursor: pointer;
}

.name{
    margin: 0.5rem 0rem;
}

.price{
    align-self: flex-start;
    font-weight: bold;
}